/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accent: #bcdfd1;
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
  --third-family: "Montserrat", sans-serif;
}
.footer-color {
  display: flex;
}
.footer-container {
  border-top: 1px solid var(--light-grey);
    padding: 40px 20px 24px 20px;
    width: 360px;
    
}
.footer-logo {
  font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black);

}
.footer-logo-part{
  color: var(--accet-green);
}
.footer-title {
  margin-top: 32px;
}

li {
  display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;

}
.social-media{
  font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 24px;
}
.footer-list {
  margin-bottom: 40px;
}
.centered-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
  justify-content: center;
  
}
.centered-text p {
  vertical-align: middle;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
    gap: 40px;
  }
  .footer-container{
    width: 768px;
  }
  .centered-text p {
    display: inline;
  }
  .social-media {
    margin-bottom: 0;
  }

  .centered-text{
    text-align: right;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
      border-top: 1px solid var(--light-grey);
      padding: 40px 32px 24px 32px;
      width: 1280px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-between;
  }
  .footer-title {
    margin: 0;
   
  }
  .footer-list {
    margin-bottom: 44px;
}

}
